.title-page {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.matrix-animation {
  grid-column: 1;
  grid-row: 1;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.title-card-container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
