.cursor {
    display: inline-block;
    width: 0.5px;
    height: 1em;
    background-color: black;
    animation: blink 1s steps(2, start) infinite;
    vertical-align: bottom;
    background-color: #89ff69;
    margin: 2px;
}

.cursor-text {
    display: inline;
    font-size: 3em;
    white-space: normal;
    word-break: break-word;
}

.intro{
    background-color: black;
    height: 100vh;
}

.wrapper{
    display: flex;
}
.content a{
    text-decoration:underline;
}
.center{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  
@keyframes blink {
    to {
        visibility: hidden; 
    }
}