nav{
    font-size: 2em;
    display: flex;
    border-bottom: 1px solid #89ff69;
    position: fixed;
    width: 100%;
}

.nav-contents{
    padding: 10px;
}

.homepage-icon{
    border: 1px solid #89ff69;
    border-bottom: none;
}