body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #89ff69;
    border-color: #89ff69;
}

a{
    color: inherit;
    text-decoration: none;
}

.app{
    margin: 10px;
}